Repository nohriter/sidedish, pull requests merged in 2022-04, with the labels that each got.

#2 Header component 구현
  frontend/sidedish/.gitignore
  frontend/sidedish/README.md
  frontend/sidedish/package.json
  frontend/sidedish/public/images/cartIcon.png
  frontend/sidedish/public/images/searchIcon.png
  frontend/sidedish/public/images/userIcon.png
  frontend/sidedish/public/index.html
  frontend/sidedish/src/App.jsx
  frontend/sidedish/src/Gnb.jsx
  frontend/sidedish/src/Header.jsx
  frontend/sidedish/src/MenuTypeList.jsx
  frontend/sidedish/src/index.js
  frontend/sidedish/yarn.lock
Labels: feat, design, chore, owl, oliver, frontend

#4 3 fe main 영역 component 구현
  frontend/sidedish/public/index.html
  frontend/sidedish/src/App.jsx
  frontend/sidedish/src/Gnb.jsx
  frontend/sidedish/src/Header.jsx
  frontend/sidedish/src/ItemCard.jsx
  frontend/sidedish/src/ItemCards.jsx
  frontend/sidedish/src/Label.jsx
  frontend/sidedish/src/Main.jsx
  frontend/sidedish/src/MenuTypeList.jsx
  frontend/sidedish/src/constants.jsx
  frontend/sidedish/src/mockData.json
Labels: feat, design, refactor, rename, owl, oliver, frontend

#5 3 fe main 영역 component 구현
  frontend/sidedish/package.json
  frontend/sidedish/yarn.lock
Labels: chore

#7 [Backend] 놀휘 - 초기 프로젝트 설정
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/team31/codesuqad/sidedish/SidedishApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/team31/codesuqad/sidedish/SidedishApplicationTests.java
Labels: chore, hwi, nori, backend

#17 3 fe main 영역 component 구현 merge 이후
  frontend/sidedish/public/images/cartIcon.png
  frontend/sidedish/public/images/cartIcon.svg
  frontend/sidedish/public/images/leftIcon.svg
  frontend/sidedish/public/images/rightIcon.svg
  frontend/sidedish/public/images/searchIcon.png
  frontend/sidedish/public/images/searchIcon.svg
  frontend/sidedish/public/images/userIcon.png
  frontend/sidedish/public/images/userIcon.svg
  frontend/sidedish/src/App.jsx
  frontend/sidedish/src/carouselMockData.json
  frontend/sidedish/src/components/Carousel.jsx
  frontend/sidedish/src/components/ItemCards.jsx
  frontend/sidedish/src/components/Main.jsx
  frontend/sidedish/src/components/header/Gnb.jsx
  frontend/sidedish/src/components/header/Header.jsx
  frontend/sidedish/src/components/header/MenuTypeList.jsx
  frontend/sidedish/src/components/itemCard/ItemCard.jsx
  frontend/sidedish/src/components/itemCard/ItemCards.jsx
  frontend/sidedish/src/components/main/Carousel.jsx
  frontend/sidedish/src/components/main/Main.jsx
  frontend/sidedish/src/components/popup/OrderBtn.jsx
  frontend/sidedish/src/components/popup/OrderDetail.jsx
  frontend/sidedish/src/components/popup/OrderNumber.jsx
  frontend/sidedish/src/components/popup/Popup.jsx
  frontend/sidedish/src/components/popup/PopupDetail.jsx
  frontend/sidedish/src/components/popup/PopupImageContents.jsx
  frontend/sidedish/src/components/popup/PopupOrderContents.jsx
  frontend/sidedish/src/components/popup/RelatedContents.jsx
  frontend/sidedish/src/components/popup/RelatedLists.jsx
  frontend/sidedish/src/consts/constants.js
  frontend/sidedish/src/core/Blank.jsx
  frontend/sidedish/src/core/Label.jsx
  frontend/sidedish/src/core/LeftArrowBtn.jsx
  frontend/sidedish/src/core/MinusBtn.jsx
  frontend/sidedish/src/core/PlusBtn.jsx
  frontend/sidedish/src/core/RightArrowBtn.jsx
  frontend/sidedish/src/mockData.json
  frontend/sidedish/src/relatedListMockData.json
  frontend/sidedish/src/util/makePriceFormat.js
Labels: frontend

#20 [BE] 기획전 메뉴 조회 기능
  backend/src/main/java/team31/codesuqad/sidedish/controller/EventController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/DiscountDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/DishDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/EventTabResponse.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Discount.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/DiscountPolicies.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Dishes.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Event.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/EventTabs.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Images.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DiscountPoliciesRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DishesRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/EventTabsRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DiscountPoliciesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DishesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/EventService.java
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: feat, hwi, backend

#21 [Backend] db-설정파일-분리- nohriter#18
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: chore, nori, backend

#25 [BE] 카테고리 전체 메뉴 조회
  backend/src/main/java/team31/codesuqad/sidedish/controller/CategoryController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/EventController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/AllCategoriesResponse.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/CategoryResponse.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Dishes.java
  backend/src/main/java/team31/codesuqad/sidedish/service/CategoryService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DiscountPoliciesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DishesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/EventService.java
Labels: feat, hwi, backend

#32 [BE] 카테고리 전체 메뉴 조회
  backend/src/main/java/team31/codesuqad/sidedish/controller/CategoryController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/EventController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/AllCategoriesResponse.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/CategoryResponse.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Dishes.java
  backend/src/main/java/team31/codesuqad/sidedish/service/CategoryService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DiscountPoliciesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DishesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/EventService.java
Labels: feat, hwi, backend

#33 [BE] 요리-상세-조회
  backend/src/main/java/team31/codesuqad/sidedish/controller/DishController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/DetailedDishDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/ImageDto.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Deliveries.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Dishes.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DeliveriesRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DishesRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DeliveriesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DiscountPoliciesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DishesService.java
Labels: feat, hwi, backend

#34 [BE] 추천 요리 조회
  backend/src/main/java/team31/codesuqad/sidedish/controller/DishController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/RecommandDto.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DishesService.java
Labels: feat, hwi, backend

#35 [BE] CORS 에러 해결
  backend/src/main/java/team31/codesuqad/sidedish/controller/CategoryController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/DishController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/EventController.java
Labels: fix, nori, backend

#37 [BE] 카테고리 메뉴 조회 -> 이벤트 탭 조회로 기능 변경
  backend/src/main/java/team31/codesuqad/sidedish/controller/CategoryController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/EventController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/CategoryNames.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/EventTabDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/EventTabListDto.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/EventTabsRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/service/CategoryService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/EventService.java
Labels: refactor, hwi, backend

#39 [BE] 이벤트 탭의 URL 변경 및 categorynames를 eventTabs로 변경
  backend/src/main/java/team31/codesuqad/sidedish/controller/EventController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/EventTabDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/EventTabListDto.java
Labels: refactor, hwi, backend

#41 [BE] 2주차 1번째 코드 리뷰 반영
  backend/src/main/java/team31/codesuqad/sidedish/controller/CategoryController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/DishController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/EventController.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/AllCategoriesResponse.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/CategoryResponse.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/DetailedDishDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/DiscountDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/DishDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/EventTabDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/EventTabListDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/ImageDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/RecommandDto.java
  backend/src/main/java/team31/codesuqad/sidedish/controller/dto/RecommendDto.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Category.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Delivery.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Discount.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/DiscountPolicy.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Dish.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Event.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/EventTabs.java
  backend/src/main/java/team31/codesuqad/sidedish/domain/Image.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DeliveriesRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DeliveryRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DiscountPoliciesRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DiscountPolicyRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DishRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/DishesRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/EventTabRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/repository/EventTabsRepository.java
  backend/src/main/java/team31/codesuqad/sidedish/service/CategoryService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DeliveriesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DeliveryService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DiscountPoliciesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DiscountPolicyService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DishService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/DishesService.java
  backend/src/main/java/team31/codesuqad/sidedish/service/EventService.java
  backend/src/main/java/team31/codesuqad/sidedish/type/EventType.java
  backend/src/main/java/team31/codesuqad/sidedish/type/ImageType.java
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: refactor, hwi, nori, backend
